<div class="container py-4">

    <h1 class="mb-4 text-center">👤 Nuevo Estudiante</h1>

    <a href="/" class="btn btn-secondary w-100 mb-3">⬅ Volver</a>

    <div class="card shadow col-md-6 mx-auto">
        <div class="card-body">

            <form method="POST">

                <div class="mb-3">
                    <label>Nombre</label>
                    <input type="text" name="nombre" class="form-control">
                </div>

                <div class="mb-3">
                    <label>Edad</label>
                    <input type="number" name="edad" class="form-control">
                </div>

                <button class="btn btn-primary w-100">
                    Guardar
                </button>

            </form>

        </div>
    </div>

</div>